# Loading different types of data in Pandas

Pandas can load different types of files, which is quite helpful for our analyses. Here we'll cover four types:

* CSV files (comma-separated files)
* Pickle files (files in a Python export format)
* Tabular files
* JSON-type files


Some of the examples below are on my own computer (not GitHub) for privacy and data protection reasons. This means you will need to work with your own data (e.g., YouTube data, Twitter data collected for this class or your own Facebook or Instagram data).


#### Small note on file locations
Some files below appear as ```../../../DA-StudentFiles/LocalFiles/...```. The ```../``` means "go one folder back" based on the folder we are in. So pandas will go back three folders (3 x ```../```, then go to a folder called ```DA-StudentFiles```, open then a folder called ```LocalFiles``` and then locate the file.

Too complex? For now, just add the file to the same folder you are running Jupyter Notebook and that will work :) In the future you can learn a bit more about how to find the relative or absolute path to a file in your computer.

In [1]:
import pandas as pd

## CSV and pickle files

We've already seen these files appearing before in the previous video. They are sometimes the easiest to open, because they already are in a *tabular* format - i.e., they are in the format of a table, or of a dataframe. It does not mean that they are *ready* for analysis, but still...

In [6]:
df_csv = pd.read_csv('websites.csv')

In [7]:
df_csv.head()

       site            type  views  active_users
0   Twitter    Social Media  10000        200000
1  Facebook    Social Media  35000        500000
2       NYT      News media  78000        156000
3   YouTube  Video platform  18000        289000
4     Vimeo  Video platform    300          1580

In [8]:
df_pkl = pd.read_pickle('websites.pkl')

In [9]:
df_pkl.head()

       site            type  views  active_users
0   Twitter    Social Media  10000        200000
1  Facebook    Social Media  35000        500000
2       NYT      News media  78000        156000
3   YouTube  Video platform  18000        289000
4     Vimeo  Video platform    300          1580

## Tabular files

Some files end with a ```.tab```, which might mean that they are tabular. This is way of describing files where the separator between columns is not a comma (CSV) but a tab. You can still use ```read_csv``` to open them, but just need to indicate that the separator is a tab (i.e., ```sep='\t'``` as shown below).

In [10]:
df_tab = pd.read_csv('../DA-StudentFiles/LocalFiles/videoinfo_jUrF_Sme7YI_2022_07_26-12_34_28_comments.tab', sep='\t')

In [11]:
df_tab.head()

,id,replyCount,likeCount,publishedAt,authorName,text,authorChannelId,authorChannelUrl,isReply,isReplyTo,isReplyToName
0,Ugx-fBSoRptPinDBh_l4AaABAg,0.0,0,2022-07-26 12:26:21,Jingle Val,IF IS A SCIENCE PROBLEM. WE HAVE TO USE SCIENC...,UCiQ5yGEQHk4s_qR97_LCGiA,http://www.youtube.com/channel/UCiQ5yGEQHk4s_q...,0,NaN,NaN
1,Ugw3tUyT2FNKTWQMqvl4AaABAg,0.0,0,2022-07-26 05:08:04,Ash,Climate intervention operations are very much ...,UCl8paJj8Z1raVMUoZPaOQxQ,http://www.youtube.com/channel/UCl8paJj8Z1raVM...,0,NaN,NaN
2,UgzOTncfpC4LgWZ0Dfl4AaABAg,0.0,0,2022-07-26 03:56:55,Lone Wolf,It&#39;s cool six feet under. Don&#39;t be late,UCGKh20KMWzi01TlpuORNX-Q,http://www.youtube.com/channel/UCGKh20KMWzi01T...,0,NaN,NaN
3,UgxoujVeVOVn1JBluEJ4AaABAg,0.0,1,2022-07-25 03:53:15,RB J,❣️,UC6MhinGIURNRtd9Xv8elKBQ,http://www.youtube.com/channel/UC6MhinGIURNRtd...,0,NaN,NaN
4,Ugwrbh6lC20JBhrNE8d4AaABAg,0.0,0,2022-07-25 02:39:14,Greg HDN,The anthropogenic climate change propaganda is...,UC55tPfgKAk35oRWn7PqSikQ,http://www.youtube.com/channel/UC55tPfgKAk35oR...,0,NaN,NaN

Above I am by the way opening a dataset with comments under a recent video on climate change by [the Economist](https://www.youtube.com/watch?v=jUrF_Sme7YI) downloaded using the [YouTube Data Tools](https://tools.digitalmethods.net/netvizz/youtube/mod_videos_list.php) created by our colleagues at the Digital Humanities.

## JSON - or JSON-like files

JSON - short for JavaScript Object Notation - is a very popular format for files. 

Python can read JSON very easily, and a JSON-like object looks a lot like a set of lists and dictionaries. In this example you can see a json file from the Instagram Data Download Package. We can see that we have a dictionary indicated by `{}` that has a key `'inferred_data_ig_interest'`. The value associated with this key is a list indicated by `[]`. The elements of this list are dictionaries indicated by `{}`. They are separated from each other by commas. Each dictionary in the list contains three keys: `'title'`, `'media_map_data'` and `'string_map_data'`. The key `'title'` has a string as a value (indicated by `""`). The key `'media_map_data'` has a dictionary as a value (indicated by `{}`). The key `'string_map_data'` has a dictionary as a value (indicated by `{}`). This dictionary has one key `'Interest'` that has another dictionary as a value. This way data is not organized as a table, but it is nested. 

![picture](2_DA2/Insta_json.png)

The challenge is that not all JSON files work very well in a tabular format. That's because one of the advantages of JSON - responsible for a lot of its popularity - is specifically the fact that it *does not* need the data to be organized in the format of a table, but we can nest it in different depths.

This means that there's some trial and error to read it as a dataframe (in a way that works). Here I am showing three different formats:

* An example of a file coming from an Instagram Data Download Package
* An example of a file coming from a Facebook Data Download Package
* The output from ```twarc```, i.e., tweets


Other formats may or may not work immediately. In case of questions, open an issue to us.

### Simple json format (files coming from the Facebook Data Download Package)

This file contains information about targeting categories Facebook uses to target me with sponsored content.

In [18]:
df_advertisers = pd.read_json('../DA-StudentFiles/LocalFiles/your_topics.json')

In [19]:
df_advertisers.head()

               inferred_topics_v2
0      Travel & Tourism in Europe
1                     Visual Arts
2                           Dance
3           Western Europe Travel
4  Fashion Photography (activity)

### Nested json file (files coming from the Instagram Data Download Package - )

This file contains information about topics that Instagram thinks I am interested in based on their data. This is the file that we looked at earlier in the tutorial. Remember how the information was nested? This is something that we will need to "unpack" when reading this file.

In [22]:
df_ads_interests = pd.read_json('../DA-StudentFiles/LocalFiles/ads_interests.json')

In [23]:
df_ads_interests.head()

                           inferred_data_ig_interest
0  {'title': '', 'media_map_data': {}, 'string_ma...
1  {'title': '', 'media_map_data': {}, 'string_ma...
2  {'title': '', 'media_map_data': {}, 'string_ma...
3  {'title': '', 'media_map_data': {}, 'string_ma...
4  {'title': '', 'media_map_data': {}, 'string_ma...

As reading this file did not bring the data into a meaningful data yet, I may need to use something else to turn the data into something closer to a tabular format. We can use the ```.json_normalize()``` option from Pandas. This is a very useful option that allows you to "flatten" such a nested data, i.e., transform it from the nested structure to a tabular structure.

In [25]:
inferred_data = pd.json_normalize(df_ads_interests['inferred_data_ig_interest'])

In [26]:
inferred_data.head()

,title,string_map_data.Interest.href,string_map_data.Interest.value,string_map_data.Interest.timestamp
0,,,Online shopping,0
1,,,Luxury goods,0
2,,,Beauty salons,0
3,,,Shopping,0
4,,,Physical fitness,0

You can see that this allows you to unpack a column that contains a dictionary into a new dataframe with several columns. Each column is a key from the dictionary. This way, you move from a nested structure to a table.

### Files coming from twarc - jsonl format

In [31]:
df_jsonl = pd.read_json('../DA-StudentFiles/LocalFiles/results_privacy.jsonl', lines=True)

In [32]:
df_jsonl.columns

Index(['data', 'includes', 'meta', '__twarc', 'errors'], dtype='object')

In [33]:
df_jsonl.head()

,data,includes,meta,__twarc,errors
0,"[{'source': 'Twitter for Android', 'id': '1496...",{'users': [{'pinned_tweet_id': '14960329870493...,"{'newest_id': '1496434995132575748', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN
1,[{'attachments': {'media_keys': ['3_1496434149...,{'media': [{'url': 'https://pbs.twimg.com/medi...,"{'newest_id': '1496434152077471745', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,"[{'resource_id': '1496433036564791297', 'param..."
2,"[{'lang': 'en', 'author_id': '285509027', 'sou...",{'users': [{'public_metrics': {'followers_coun...,"{'newest_id': '1496433251954606081', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,"[{'parameter': 'entities.mentions.username', '..."
3,"[{'reply_settings': 'everyone', 'public_metric...","{'users': [{'protected': False, 'location': 'L...","{'newest_id': '1496432538725883904', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,"[{'parameter': 'entities.mentions.username', '..."
4,"[{'conversation_id': '1496431783487086592', 'a...",{'users': [{'profile_image_url': 'https://pbs....,"{'newest_id': '1496431783487086592', 'oldest_i...",{'url': 'https://api.twitter.com/2/tweets/sear...,NaN

As you can see above, the results are not so clearly formatted. The information is available in each row (within ```data``` or ```includes```). Can we simply use `json_normalize`?

In [34]:
twitter_data = pd.json_normalize(df_jsonl['data'])
twitter_data.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,"{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter Web App', 'id': '149643499...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter for iPhone', 'id': '149643...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter Web App', 'in_reply_to_use...","{'source': 'Twitter for iPhone', 'id': '149643...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter for Android', 'id': '14964...",...,"{'source': 'Twitter Web App', 'id': '149643425...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter Web App', 'in_reply_to_use...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter for iPhone', 'id': '149643...","{'source': 'Twitter for iPhone', 'id': '149643...","{'source': 'Twitter for iPhone', 'id': '149643...","{'source': 'Twitter for Android', 'id': '14964...","{'source': 'Twitter for iPhone', 'id': '149643..."
1,{'text': 'Once your privacy taken/violated...s...,"{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...","{'text': 'Crypto may be volatile but; ""in som...","{'referenced_tweets': [{'type': 'replied_to', ...",{'text': 'Requesting $UST funds from the #Stak...,"{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...",...,"{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'replied_to', ...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'replied_to', ...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'retweeted', '...","{'referenced_tweets': [{'type': 'quoted', 'id'..."
2,"{'lang': 'en', 'author_id': '285509027', 'sour...","{'lang': 'it', 'author_id': '126677638', 'sour...","{'lang': 'en', 'author_id': '11941449065766133...","{'lang': 'en', 'author_id': '190568491', 'sour...","{'lang': 'en', 'author_id': '276726949', 'sour...","{'lang': 'nl', 'author_id': '518723943', 'sour...","{'lang': 'en', 'author_id': '1649630060', 'sou...","{'lang': 'it', 'author_id': '2523878470', 'sou...","{'lang': 'en', 'author_id': '14664176622637629...","{'lang': 'en', 'author_id': '2300458056', 'sou...",...,"{'lang': 'pt', 'author_id': '14905022509128949...","{'lang': 'pt', 'author_id': '14785288728702894...","{'lang': 'en', 'author_id': '1649630060', 'sou...","{'lang': 'th', 'author_id': '2156529594', 'sou...","{'lang': 'en', 'author_id': '14093877244742410...","{'lang': 'en', 'author_id': '82384507311272345...","{'lang': 'en', 'author_id': '14944144130375884...","{'lang': 'en', 'author_id': '12626910173098270...","{'lang': 'en', 'author_id': '13684836030388838...","{'lang': 'en', 'author_id': '550676539', 'sour..."
3,"{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...",...,"{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'everyone', 'possibly_sensi...","{'reply_settings': 'following', 'possibly_sens..."
4,"{'conversation_id': '1496431783487086592', 'au...","{'conversation_id': '1496431753287938055', 'au...","{'conversation_id': '1496431752625205248', 'au...","{'conversation_id': '1496431741208350722', 'co...","{'conversation_id': '1496431724418453507', 'au...","{'conversation_id': '1496431720270340100', 'au...","{'conversation_id': '1496431719259553796', 'co...","{'conversation_id': '1496431710082420742', 'au...","{'conversation_id': '1496431695788224518', 'co...","{'conversation_id': '1494062212914335754', 'au...",...,"{'conversation_id': '1496430912904601605', 'au...","{'conversation_id': '1496430908789903360', 'au...","{'conversation_id': '1496430908542439425', 'au...","{'conversation_id': '1496430583270023171', 'au...","{'conversation_id': '1496430895452073987', 'au...","{'conversation_id': '1496430893145247746', 'au...","{'conversation_id': '1496430885121540097', 'au...","{'conversation_id': '1496430883829694467', 'au...","{'conversation_id': '1496430877269708801', 'au...","{'conversation_id': '1480124963432841216', 'au..."

Unfortunately, simply normalizing the data does not help - the structure is different than what we saw before with nested dictionaries. For such data, we need to write our own functions that unpack it. To write such a function, you need to have a good understanding of the data that you can get from its documentation (in this case, the documentation of the API).
As writing such functions would be challenging at this stage, we have provided multiple functions for you. You can use these functions when working with your own Twitter data by coping them and applying them to you dataframe with tweets.

#### Retrieving tweets

The first function allows us to get all the individual tweets from the dataset. It uses the columns `data` and looks for certain information in it. When we apply it to the dataframe, we can obtain a new dataframe with a individual tweet as the unit of analysis.

In [43]:
def get_public_metrics(row):
    if 'public_metrics' in row.keys():
        if type(row['public_metrics']) == dict:
            for key, value in row['public_metrics'].items():
                row['metric_' + str(key)] = value
    return row

def get_tweets(df):
    if 'data' not in df.columns:
        return None
    results = pd.DataFrame()
    for item in df['data'].values.tolist():
        results = pd.concat([results, pd.DataFrame(item)])
        
    results = results.apply(get_public_metrics, axis=1)
        
    results = results.reset_index()
    del results['index']
        
    return results

In [44]:
tweets = get_tweets(df_jsonl) # remember to change the name of the dataframe (df_jsonl) by the dataframe you are using

In [45]:
tweets.head()

,source,id,author_id,possibly_sensitive,reply_settings,created_at,conversation_id,public_metrics,referenced_tweets,entities,lang,text,context_annotations,in_reply_to_user_id,attachments,geo,metric_retweet_count,metric_reply_count,metric_like_count,metric_quote_count
0,Twitter for Android,1496434995132575748,1495746927794835457,False,everyone,2022-02-23T10:41:19.000Z,1496434995132575748,"{'retweet_count': 208, 'reply_count': 0, 'like...","[{'type': 'retweeted', 'id': '1489536434054868...","{'mentions': [{'start': 3, 'end': 18, 'usernam...",pt,RT @tatuadoysafado: Gravei meu primeiro conteu...,NaN,NaN,NaN,NaN,208,0,0,0
1,Twitter Web App,1496434990413975557,130796328,False,everyone,2022-02-23T10:41:18.000Z,1496434990413975557,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",NaN,"{'urls': [{'start': 245, 'end': 268, 'url': 'h...",it,Conservazione sostitutiva e messa a norma in a...,"[{'domain': {'id': '66', 'name': 'Interests an...",NaN,NaN,NaN,0,0,0,0
2,Twitter for Android,1496434987666755588,873649157185171467,False,everyone,2022-02-23T10:41:18.000Z,1496434987666755588,"{'retweet_count': 2011, 'reply_count': 0, 'lik...","[{'type': 'retweeted', 'id': '1496205931553730...","{'mentions': [{'start': 3, 'end': 18, 'usernam...",en,RT @Mindfulness_DQ: More prayer. More self-car...,"[{'domain': {'id': '65', 'name': 'Interests an...",NaN,NaN,NaN,2011,0,0,0
3,Twitter for iPhone,1496434984332275715,4405550069,False,everyone,2022-02-23T10:41:17.000Z,1496434984332275715,"{'retweet_count': 4, 'reply_count': 0, 'like_c...","[{'type': 'retweeted', 'id': '1496131686106599...","{'mentions': [{'start': 3, 'end': 13, 'usernam...",en,RT @TechHerNG: Google is rethinking its privac...,"[{'domain': {'id': '46', 'name': 'Brand Catego...",NaN,NaN,NaN,4,0,0,0
4,Twitter for Android,1496434984076419074,849164739880001536,False,everyone,2022-02-23T10:41:17.000Z,1496434984076419074,"{'retweet_count': 64, 'reply_count': 0, 'like_...","[{'type': 'retweeted', 'id': '1496332436799737...","{'mentions': [{'start': 3, 'end': 17, 'usernam...",en,RT @odisha_police: OTP is not only stand for t...,"[{'domain': {'id': '65', 'name': 'Interests an...",NaN,NaN,NaN,64,0,0,0

#### Retrieving users and media
Individual tweets is only a part of information you can retrieve from the Twitter API. If your analysis focuses on users or on media, you can use the functions below to access that information. To be able to make conclusions about tweets and users or tweets and media, you will need to merge multiple dataframes (e.g., add information on media to your dataframe with tweets). You will learn how to do this next week. For now, let's apply the functions.

Let's start with getting information on users. This function will return a dataframe that contains all users that tweeted in our dataset. An individual user is the unit of analysis here.

In [48]:
def get_users(df):
    if 'includes' not in df.columns:
        return None
    results = pd.DataFrame()
    for item in df['includes'].values.tolist():
        results = pd.concat([results,pd.DataFrame(item['users'])])
    
    results = results.apply(get_public_metrics, axis=1)
       
    results = results.reset_index()
    del results['index']
        
    return results

In [49]:
users = get_users(df_jsonl)
users.head()

,pinned_tweet_id,description,created_at,profile_image_url,name,username,id,verified,public_metrics,url,protected,entities,location,metric_followers_count,metric_following_count,metric_tweet_count,metric_listed_count
0,1496032987049349123,+18 \nSó putaria,2022-02-21T13:07:22.000Z,https://pbs.twimg.com/profile_images/149574728...,Thi,Thirolagrossa,1495746927794835457,False,"{'followers_count': 33, 'following_count': 304...",,False,NaN,NaN,33,304,120,0
1,1489536434054868995,novinho fetichista exibicionista e sem pudor🔞,2021-12-08T01:52:23.000Z,https://pbs.twimg.com/profile_images/149035957...,Jhonny,tatuadoysafado,1468397897645543427,False,"{'followers_count': 3196, 'following_count': 2...",,False,NaN,NaN,3196,202,42,2
2,1454426626079526914,My fetish world 😈| Privacy: https://t.co/SM0kY...,2021-10-27T16:52:10.000Z,https://pbs.twimg.com/profile_images/145897921...,Henri Dot 🍁💦,henridotado,1453404081574273033,False,"{'followers_count': 45007, 'following_count': ...",,False,"{'description': {'urls': [{'start': 28, 'end':...",NaN,45007,616,320,180
3,NaN,dirittodellinformatica.it è la rivista telemat...,2010-04-08T10:13:08.000Z,https://pbs.twimg.com/profile_images/144894006...,Diritto dell'Informatica,hitechlaw,130796328,False,"{'followers_count': 454, 'following_count': 2,...",https://t.co/PsQoduCosO,False,"{'url': {'urls': [{'start': 0, 'end': 23, 'url...",Bologna,454,2,130,9
4,1437983587945656321,"Nouran is my real name, mais je suis Néfertiti...",2017-06-10T21:12:45.000Z,https://pbs.twimg.com/profile_images/144464638...,Nefertiti,cleopatrabbg,873649157185171467,False,"{'followers_count': 282, 'following_count': 12...",,False,NaN,La Vie En Rose,282,1289,4920,0

Now, let's have a look at media. This function returns a dataframe that contains information in all individual media (e.g., photos, videos) that were included in the collected tweets.

In [52]:
def get_media(df):
    if 'includes' not in df.columns:
        return None
    results = pd.DataFrame()
    for item in df['includes'].values.tolist():
        if 'media' in item:
            results = pd.concat([results, pd.DataFrame(item['media'])])
        else:
            pass
    results = results.apply(get_public_metrics, axis=1)
       
    results = results.reset_index()
    del results['index']
        
    return results

In [53]:
media = get_media(df_jsonl)
media.head()

,duration_ms,height,media_key,metric_view_count,preview_image_url,public_metrics,type,url,width
0,NaN,512,3_1496434891226898432,NaN,NaN,NaN,photo,https://pbs.twimg.com/media/FMRnmukUYAAX9DH.jpg,512
1,NaN,380,3_1496434100302983170,NaN,NaN,NaN,photo,https://pbs.twimg.com/media/FMRm4sJXMAI3aSf.png,560
2,NaN,2116,3_1496434842224889856,NaN,NaN,NaN,photo,https://pbs.twimg.com/media/FMRnj4BVEAA2XbR.jpg,1080
3,NaN,1333,3_1496430966969098247,NaN,NaN,NaN,photo,https://pbs.twimg.com/media/FMRkCTkWYAcWASW.jpg,750
4,NaN,91,3_1496434539354337283,NaN,NaN,NaN,photo,https://pbs.twimg.com/media/FMRnSPvXMAMCWsl.png,162

As you can see, reading and cleaning data strongly depends on the format it is provided in. Always have a look at the documentation and data structure to make sure that you read all the information correctly.