# Challenges for week 1

## Name: Theo Araujo
## Student number: 123345680


## Challenge 1


### Programming challenge

Check out how to add (1) an image and (2) a link in a cell in MarkDown. You may need to search this online. Check how to do it, and include an image and a link in your notebook.

### Reflection

You are now working with Jupyter Notebooks and Python code - and submitting your notebook as html via Canvas. Review the article *van Atteveldt et al. (2019)* and explain how these activities relate to open science principles, and connect them to the Computational Science workflow. Motivate your response.

## Answer to Programming challenge 1

<img src='local_image.jpg'>

![image_alt](local_image.jpg)

https://uva.nl

[this is a link](https://uva.nl)

<img src="https://www.uva.nl/binaries/_ht_1610097113963/cardsmall/content/gallery/faculteiten-en-diensten/restyling18-generiek-beeld/marijniz_160119_0503.jpg">

## Reflection to Challenge 1

This is the text with my reflection.

## Challenge 2

### Programming challenge

Below you have a list of visitors again, and in particular their referral. Imagine that this list of referrals to the website of a news organization is provided by Google Analytics. Create a function that categorizes the visitors according to some interesting set of categories.

Please note that a part of the code is already written - with a loop that checks each item in the list. You need to complete the function.

### Reflection

 Create an overview of the specific arenas, assets, actors and actions within the digital ecosystem that are relevant here, based on the discussion proposed in the *Araujo et al. (2021)* article. Make sure to also use examples from the list to motivate your answer.

In [1]:
visitors = ['campaign utx=9902',
             'instagram app',
             'facebook app',
             'campaign utx=1389',
             'facebook app',
             'google search',
             'newsletter',
             'facebook app',
             'newsletter',
             'campaign utx=9902',
             'instagram app',
             'campaign utx=1389',
             'newsletter',
             'facebook.com',
             'facebook app',
             'newsletter',
             'google search',
             'campaign utx=9902',
             'campaign utx=9902',
             'instagram app',
             'organic',
             'instagram app',
             'news campaign 9902',
             'instagram app',
             'facebook app',
             'facebook.com',
             'campaign utx=9902',
             'campaign utx=9902',
             'campaign utx=1389',
             'campaign utx=1389',
             'facebook.com',
             'news campaign 9902',
             'newsletter',
             'instagram app',
             'instagram app',
             'campaign utx=1389',
             'direct',
             'facebook.com',
             'newsletter',
             'direct',
             'campaign utx=1389',
             'direct',
             'organic',
             'facebook.com',
             'facebook.com',
             'facebook app',
             'campaign utx=9902',
             'google search',
             'campaign utx=9902',
             'campaign utx=1389']

In [2]:
def check_visitors(x):
    # Include your code here. Make sure to include something after return, 
    # so the function returns the information needed.
    if 'facebook' in x:
        return 'social media'
    if 'campaign' in x:
        return 'advertisement'
    if x in ['direct', 'organic', 'google search']:
        return 'referrals'
    if 'news' in x:
        return 'newsletter'
    if 'instagram' in x:
        return 'social media'
   
    return 'not categorized'

In [3]:
# Run this cell to see if your code worked
for visitor in visitors:
    print(check_visitors(visitor))

advertisement
social media
social media
advertisement
social media
referrals
newsletter
social media
newsletter
advertisement
social media
advertisement
newsletter
social media
social media
newsletter
referrals
advertisement
advertisement
social media
referrals
social media
advertisement
social media
social media
social media
advertisement
advertisement
advertisement
advertisement
social media
advertisement
newsletter
social media
social media
advertisement
referrals
social media
newsletter
referrals
advertisement
referrals
referrals
social media
social media
social media
advertisement
referrals
advertisement
advertisement

## Challenge 3

### Programming

This is the most important challenge of this tutorial, as we will use the concepts here to think how to organize our (digital) data. The paragraph below contains a lot of information. How would you organize this data in a way that you can visualize and work with it later? Consider using lists, dictionaries, tuples... or whatever makes sense to you! 

```
John Smith is 32 years old, is an analyst at Salesforce UK,
and is father to a young boy. He is divorced. 
Mary Smith is 21 years old, currently studies at the
University of Amsterdam, and was born in the US. 
Tom Brokaw is a US journalist, born in 1940, 
married with three children.
```

### Reflection

In this challenge, you created a set of structured data (a dataset) out of what it was somewhat unstructured data (a piece of text). While doing so, you made choices on how to structure these data. Please briefly reflect on some of the advantages and disadvantages of the approach you took, and what may be some (normative, ethical) implications of your choices.

| Name     | Age  | Job | Company | Marital status | Country of origin | Country of residence |
|----------|------|-----|---------|----------------|-------------------|----------------------|
| John Smith | 32 | Analyst | Salesforce | Divorced | ? | UK |
| Mary Smith | 21 | Student | University of Amsterdam | ? | US | NL |
| Tom Brokaw | 81 | Journalist | Divorced | ? | ? | ? |

In [5]:
data = {'John Smith': {'Job': 'Analyst', 'Age': 32},
        'Mary Smith': {'Job': 'Student', 'Age': 21},
        'Tom Brokaw': {'Job': 'Journalist', 'Age': 81},  

}

In [6]:
data['John Smith']['Age']

32

In [7]:
data['Mary Smith']

{'Job': 'Student', 'Age': 21}

In [8]:
data_as_list = [
    {'Name':'John Smith', 'Job': 'Analyst', 'Age': 32 },
    {'Name':'Mary Smith', 'Job': 'Student', 'Age': 21 },
    {'Name': 'Tom Brokaw','Job': 'Journalist', 'Age': 81  }     
    
]

In [9]:
data_as_list

[{'Name': 'John Smith', 'Job': 'Analyst', 'Age': 32},
 {'Name': 'Mary Smith', 'Job': 'Student', 'Age': 21},
 {'Name': 'Tom Brokaw', 'Job': 'Journalist', 'Age': 81}]

In [10]:
data_as_list[0]['Name']

'John Smith'

In [11]:
data_as_list[1]['Name']

'Mary Smith'

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(data_as_list)

In [14]:
df

         Name         Job  Age
0  John Smith     Analyst   32
1  Mary Smith     Student   21
2  Tom Brokaw  Journalist   81

In [15]:
df['Age'].mean()

44.666666666666664

In [16]:
df['Age'].describe()

count     3.000000
mean     44.666667
std      31.942657
min      21.000000
25%      26.500000
50%      32.000000
75%      56.500000
max      81.000000
Name: Age, dtype: float64

In [17]:
df['Name'].value_counts()

Tom Brokaw    1
Mary Smith    1
John Smith    1
Name: Name, dtype: int64